.tmgm-logo-text{
  background:url("https://tmgm-cdn2.com/image/trading/top-logo.webp") center / contain no-repeat!important;
}
.tm-word{
  background:url("https://tmgm-cdn2.com/image/img/logo.webp") left center / contain no-repeat!important;
}
.trust-row img{
  display:none!important;
}
